body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Arimo', sans-serif;
}

body,
html {
  height: 100%;
  /* background-color: #b3fff0; */
  color: #333;
  line-height: 1.8;
  font-size: 16px;
}

.logo {
  font-family: 'Montserrat Alternates', sans-serif;
}

/* Create a Parallax Effect */
.bgimg-1,
.bgimg-2,
.bgimg-3,
.bgimg-4,
.bgimg-5 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url("img/13.jpg");
  min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("img/12.JPG");
  min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("img/9.JPG");
  min-height: 400px;
}

.bgimg-4 {
  background-image: url("img/0.jpg");
  min-height: 400px;
}

.bgimg-5 {
  background-image: url("img/14.jpg");
  min-height: 100%;
}


.w3-hover-opacity {
  cursor: pointer;
}


.navbg {
  background-color: #78e6d0;

}


span .title {
  letter-spacing: 0.3em;
  line-height: auto;
  max-width: 70%;
  display: inline;
  text-align: justify;

}

a {
  color: #017c63;

}

a:hover {
  color: #00c49c;
  text-decoration: none;
}

i,
.fa {
  text-decoration: none;
}

.nowrap {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 16px auto;
}

.w3-button {
  transition: ease-out 0.4s;
}

.indent {
  text-indent: 20px;
}

.stat {
  max-width: 70%;
  margin: auto;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {

  .bgimg-1,
  .bgimg-2,
  .bgimg-3,
  .bgimg-4,
  .bgimg-5 {
    background-attachment: scroll;
    min-height: 300px;
  }
  .stat {
    max-width: 90%;
  }

  @media only screen and (max-device-width: 804px) {

    .buton {
      display: none !important;
    }

    
  }